.topNavContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 7rem;
  width: calc(100% - 10rem);
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: white;
  z-index: 100;
}

.topNavContainer ul {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 25% 30% 20% 15%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}



.assetsLi {
  grid-column: 2/3;
  grid-row: 1/2;
}

.cashLi {
  grid-column: 3/4;
  grid-row: 1/2;
}

.buyLi {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start
}

.buyLi button {
  width: 12rem;
  min-width: max-content;
  height: 4.5rem;
  padding: 1rem;
  outline: none;
  background-color: rgb(13, 119, 54);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

.rightSideOptions {
  grid-column: 5/6;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signOutBtnContainer {
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.signOutBtnContainer:hover {
  background-color: rgb(235, 235, 235);
}


.signOutBtn {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.signOutBtnImg {
  width: 24px;
  height: 24px;
  margin-bottom: 0.2rem;
}

.signOutBtnText {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.msgImgContainer {
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  cursor: pointer;
}
.msgImgContainer:hover {
  background-color: rgb(235, 235, 235);
}

.msgImg {
  width: 40px;
  height: 40px;
}
