.topNavContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 7rem;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: white;
}

.topNavContainer ul {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 25% 30% 20% 15%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

.logoLi {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
}

.assetsLi {
  grid-column: 2/3;
  grid-row: 1/2;
}

.cashLi {
  grid-column: 3/4;
  grid-row: 1/2;
}

.buyLi {
  grid-column: 4/5;
  grid-row: 1/2;
}

.buyLi button {
  width: 12rem;
  min-width: max-content;
  height: 4.5rem;
  padding: 1rem;
  outline: none;
  background-color: rgb(13, 119, 54);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

.rightSideOptions {
  grid-column: 5/6;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signOutBtnContainer {
  width: max-content;
  height: max-content;
}

.signOutBtn {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.signOutBtnImg {
  width: 32px;
  height: 32px;
  margin-bottom: 0.2rem;
}

.signOutBtnText {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.msgImg {
  width: 40px;
  height: 40px;
}
