.mainPanelTop__Container {
  /* Properties for parent grid */
  grid-column: 2/3;
  grid-row: 1/2;
  /* Properties for parent grid */
  padding: 0rem 1.5vw;
  display: flex;
  align-items: flex-end;
}

.analyticsImg {
  width: 34px;
  height: 34px;
  margin-right: 3vw;
}

.mainPanelTop__Header {
  text-transform: uppercase;
  font-size: 2.6rem;
  flex: 5;
}

.chooseDateRangeForm {
  display: flex;
  align-items: center;
  flex: 4;
}

.dateRangeSelect {
  width: 10rem;
  height: 3rem;
}

.dataRangeLabel {
  margin-right: 1vw;
  font-size: 2rem;
  width: max-content;
}
