.securitiesListContainer {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(31, 26, 26);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-width: 1px solid rgba(0, 0, 0, 0.658);
}

.securitiesContainer {
  height: 100%;
  overflow-y: auto;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  position: relative;
  color: white;
}

.securitiesContainer::-webkit-scrollbar {
  width: 0.85rem;
}

.securitiesContainer::-webkit-scrollbar-track {
  background-color: rgba(131, 131, 131, 0.432);
}

.securitiesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(175, 175, 175, 0.733);
  border-radius: 1rem;
}

.mainPanelLeftSide_noSecurities {
  font-size: 1.5rem;
  word-break: break-all;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.securityElement {
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 2rem;
  cursor: pointer;
  border-bottom: 1px solid rgb(112, 112, 112);
  background-color: rgb(41, 36, 36);
}

.securityElement.activeSecurity {
  background-color: rgb(8, 8, 8);
  border-left: 4px solid rgb(255, 255, 255);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.466);
}

.securityName {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.securityValuesContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.securitiesContainer span {
  font-size: 1.3rem;
}

.securitiesContainer .isGrowing {
  color: rgb(14, 160, 14);
}

.securitiesContainer .isDropping {
  color: rgb(218, 19, 19);
}
