.mainPanelTopContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  padding-top: 1rem;
}

.mainPanelHeaderContainer {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.analyticsImg {
  width: 34px;
  height: 34px;
  margin-right: 2.5rem;
}

.mainPanelTopHeader {
  text-transform: uppercase;
  font-size: 2.6rem;
  color: black;
}

.formContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  width: max-content;
  height: 100%;
  justify-self: center;
}

.chooseDateRangeForm {
  border: none;
  width: max-content;
  height: max-content;
}

.dateRangeSelect {
  width: 10rem;
  height: 3rem;
}

.dataRangeLabel {
  margin-right: 1rem;
}
