.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 7rem repeat(2, auto);
  position: relative;
  background-color: rgb(255, 255, 255);
}

.spinnerWrapper {
  position: absolute;
  top: 45%;
  left: 50%;
}

.loadingSpinner {
  width: 24px;
  height: 24px;
  animation: loading 1s infinite linear;
  margin-right: 1rem;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
