body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a {
  display: block;
  text-align: center;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
